@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@700&family=Dancing+Script&display=swap');

:root {
    --primary-color: #003171;
    --secondary-color: #00A5CF;
    --accent1-color: #009B77;
    --accent2-color: #0087BD;
    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    --nav-background-color: #022f40;
    --nav-link-color: #38aecc;
    --nav-hover-link-color: #1c9fc7;
    --nav-hover-background-color: #0090c1;
}


body{
    min-height: 100vh;
}

h1{
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

h2{
    font-family: var(--heading-font);
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 400;
}

p{
    font-family: var(--heading-font);
    color: #000;
    font-size: 16px;
}

.hero{
    position: relative;
}

.hero img{
    position: absolute;
    float: left;
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute !important;
    background: red !important;
    text-align: center !important;
}


.hero article{
    position: absolute;
    background: rgba(51, 170, 51, 0.3);
    margin-top: 100px;
    padding: 20px;
}

.hero article img{
    float: right;
}


footer nav a{
    text-decoration: none;
}