/* Main Rule with max-width */
main {
  max-width: 840px;
}

/* Aside Rule */
aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

/* Nav Rule */
nav {
  margin-bottom: 20px;
}

/* Nav Anchor Rule */
nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

/* Heading 1 Rule */
h1 {
  color: #333;
}

/* img Rule */
img {
  /* No changes needed */
}

/* Aside Image Rule */
aside img {
  /* No changes needed */
}

/* Paragraph Rule */
p {
  padding: 0;
}

/* Footer Rule */
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}
